* {
  margin: 0;
}
html, body {
  height: 100%;
}
.full-width{
  height: 100%;
}
.site-header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -56px;
}
.page-wrap:after, .page-wrap:before {
  content: "";
  display: block;
}
.page-wrap:after {
  height: 56px;
}
.page-wrap:before{
  height: 64px;
}

.site-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 99;
}
.loading-panel{
  text-align: center;
  padding: 20px 0 0;
}
.linear-loading-panel{
  padding: 20px 10px;
}
.text-centered{
  text-align: center;
}

p{
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.40);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 16px;
  width: 100%;
}
